<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PayloadContent</key>
    <array>
        <dict>
            <key>AllowIdentifiedDevelopers</key>
            <true/>
            <key>EnableAssessment</key>
            <false/>
            <key>PayloadIdentifier</key>
            <string>com.example.mysystempolicycontrolpayload</string>
            <key>PayloadType</key>
            <string>com.apple.systempolicy.control</string>
            <key>PayloadUUID</key>
            <string>f26fc0a5-09f4-4d71-9a5c-6f1a7d30e905</string>
            <key>PayloadVersion</key>
            <integer>1</integer>
        </dict>
    </array>
    <key>PayloadDisplayName</key>
    <string>System Policy Control</string>
    <key>PayloadIdentifier</key>
    <string>com.example.myprofile</string>
    <key>PayloadType</key>
    <string>Configuration</string>
    <key>PayloadUUID</key>
    <string>f379ac8d-8b9e-4e36-98e7-a43094d51e38</string>
    <key>PayloadVersion</key>
    <integer>1</integer>
</dict>
</plist>