<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CommandUUID</key>
    <string>0001_UserList</string>
    <key>Status</key>
    <string>Acknowledged</string>
    <key>UDID</key>
    <string>cf98820bd143abe0bbf151bed8e8e427594d2f88</string>
    <key>Users</key>
    <array>
        <dict>
            <key>DataQuota</key>
            <integer>10171187200</integer>
            <key>DataUsed</key>
            <integer>145625088</integer>
            <key>HasDataToSync</key>
            <true/>
            <key>IsLoggedIn</key>
            <false/>
            <key>UserName</key>
            <string>example@acme.com</string>
        </dict>
    </array>
</dict>
</plist>