<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CommandUUID</key>
    <string>0001_InstalledApplicationList</string>
    <key>InstalledApplicationList</key>
    <array>
        <dict>
            <key>BundleSize</key>
            <integer>1</integer>
            <key>Identifier</key>
            <string>com.apple.Safari</string>
            <key>Installing</key>
            <false/>
            <key>Name</key>
            <string>Safari</string>
            <key>ShortVersion</key>
            <string>13.1.2</string>
            <key>Version</key>
            <string>13.1.2</string>
        </dict>
        <dict>
            <key>BundleSize</key>
            <integer>1</integer>
            <key>Identifier</key>
            <string>com.apple.Notes</string>
            <key>Installing</key>
            <false/>
            <key>Name</key>
            <string>Notes</string>
            <key>ShortVersion</key>
            <string>4.7</string>
            <key>Version</key>
            <string>4.7</string>
        </dict>
        <dict>
            <key>BundleSize</key>
            <integer>1</integer>
            <key>Identifier</key>
            <string>com.apple.AddressBook</string>
            <key>Installing</key>
            <false/>
            <key>Name</key>
            <string>Contacts</string>
            <key>ShortVersion</key>
            <string>12.0</string>
            <key>Version</key>
            <string>12.0</string>
        </dict>
        <dict>
            <key>BundleSize</key>
            <integer>1</integer>
            <key>Identifier</key>
            <string>com.apple.mail</string>
            <key>Installing</key>
            <false/>
            <key>Name</key>
            <string>Mail</string>
            <key>ShortVersion</key>
            <string>13.4</string>
            <key>Version</key>
            <string>13.4</string>
        </dict>
        <dict>
            <key>BundleSize</key>
            <integer>1</integer>
            <key>Identifier</key>
            <string>com.apple.iCal</string>
            <key>Installing</key>
            <false/>
            <key>Name</key>
            <string>Calendar</string>
            <key>ShortVersion</key>
            <string>11.0</string>
            <key>Version</key>
            <string>11.0</string>
        </dict>
    </array>
    <key>Status</key>
    <string>Acknowledged</string>
    <key>UDID</key>
    <string>91FE0F6E-F91C-589A-95E6-02835CE7126D</string>
</dict>
</plist>