<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Command</key>
    <dict>
        <key>Footnote</key>
        <string>Return to Acme, Inc.</string>
        <key>Message</key>
        <string>Lock Message</string>
        <key>PhoneNumber</key>
        <string>408-555-555</string>
        <key>RequestType</key>
        <string>EnableLostMode</string>
    </dict>
    <key>CommandUUID</key>
    <string>0001_EnableLostMode</string>
</dict>
</plist>