<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Books</key>
    <array>
        <dict>
            <key>Author</key>
            <string>Acme, Inc.</string>
            <key>Kind</key>
            <string>pdf</string>
            <key>PersistentID</key>
            <string>com.acme.pdf.myenterprisebook</string>
            <key>State</key>
            <string>Managed</string>
            <key>Title</key>
            <string>My Enterprise Book</string>
            <key>Version</key>
            <string>1.0</string>
        </dict>
    </array>
    <key>CommandUUID</key>
    <string>0001_ManagedMediaList</string>
    <key>Status</key>
    <string>Acknowledged</string>
    <key>UDID</key>
    <string>00008020-000915083C80012E</string>
</dict>
</plist>