<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Command</key>
    <dict>
        <key>Author</key>
        <string>Acme, Inc.</string>
        <key>Kind</key>
        <string>pdf</string>
        <key>MediaType</key>
        <string>Book</string>
        <key>MediaURL</key>
        <string>https://yourmdmhost.example.com/files/myenterprisebook.pdf</string>
        <key>PersistentID</key>
        <string>com.acme.pdf.myenterprisebook</string>
        <key>RequestType</key>
        <string>InstallMedia</string>
        <key>Title</key>
        <string>My Enterprise Book</string>
        <key>Version</key>
        <string>1.0</string>
    </dict>
    <key>CommandUUID</key>
    <string>0001_InstallMedia</string>
</dict>
</plist>