<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PayloadContent</key>
    <array>
        <dict>
            <key>DisableSoftwareUpdateNotifications</key>
            <true/>
            <key>restrict-store-disable-app-adoption</key>
            <true/>
            <key>restrict-store-softwareupdate-only</key>
            <true/>
            <key>PayloadIdentifier</key>
            <string>com.example.myappstorepayload</string>
            <key>PayloadType</key>
            <string>com.apple.appstore</string>
            <key>PayloadUUID</key>
            <string>44561b1a-c66c-42b8-80cd-c30a29766e34</string>
            <key>PayloadVersion</key>
            <integer>1</integer>
        </dict>
    </array>
    <key>PayloadDisplayName</key>
    <string>App Store</string>
    <key>PayloadIdentifier</key>
    <string>com.example.myprofile</string>
    <key>PayloadType</key>
    <string>Configuration</string>
    <key>PayloadUUID</key>
    <string>61c30df8-92e8-4fc5-8623-8cfc294452ce</string>
    <key>PayloadVersion</key>
    <integer>1</integer>
</dict>
</plist>