<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PayloadContent</key>
    <array>
        <dict>
            <key>Password</key>
            <string>Password123</string>
            <key>PayloadCertificateFileName</key>
            <string>TestServerCert.p12</string>
            <key>PayloadContent</key>
            <data>ExampleD</data>
            <key>PayloadDescription</key>
            <string>Adds a PKCS#12-formatted certificate</string>
            <key>PayloadDisplayName</key>
            <string>LeaderIdentity.p12</string>
            <key>PayloadIdentifier</key>
            <string>com.example.myedconfigpayload</string>
            <key>PayloadType</key>
            <string>com.apple.security.pkcs12</string>
            <key>PayloadUUID</key>
            <string>c149dafb-033f-4894-8add-e1056dc1c420</string>
            <key>PayloadVersion</key>
            <integer>1</integer>
        </dict>
        <dict>
            <key>PayloadCertificateFileName</key>
            <string>Cert.cer</string>
            <key>PayloadContent</key>
            <data>ExampleD</data>
            <key>PayloadDescription</key>
            <string>Adds a CA root certificate</string>
            <key>PayloadDisplayName</key>
            <string>leader: Catalyst Certificate</string>
            <key>PayloadIdentifier</key>
            <string>com.example.mycertpayload</string>
            <key>PayloadType</key>
            <string>com.apple.security.root</string>
            <key>PayloadUUID</key>
            <string>0391e29c-f10d-4803-a749-d04ef7f6a8fa</string>
            <key>PayloadVersion</key>
            <integer>1</integer>
        </dict>
        <dict>
            <key>OrganizationUUID</key>
            <string>24A9D6AC-9C34-45F3-B92F-88C4657204C9</string>
            <key>OrganizationName</key>
            <string>Example Inc.</string>
            <key>PayloadCertificateUUID</key>
            <string>8DBA6415-6F70-47FE-B0D2-C70B3D35B7A3</string>
            <key>LeaderPayloadCertificateAnchorUUID</key>
            <array>
                <string>c2113db2-8ea9-456d-a2e7-e19f4a706b75</string>
            </array>
            <key>MemberPayloadCertificateAnchorUUID</key>
            <array>
                <string>82c3100d-e22c-42db-b70b-3b628992c757</string>
            </array>
            <key>Departments</key>
            <array>
                <dict>
                    <key>Name</key>
                    <string>Phonetics</string>
                    <key>Identifier</key>
                    <string>NotNeeded</string>
                    <key>GroupBeaconIDs</key>
                    <array>
                        <integer>1</integer>
                        <integer>2</integer>
                        <integer>3</integer>
                    </array>
                </dict>
            </array>
            <key>Groups</key>
            <array>
                <dict>
                    <key>BeaconID</key>
                    <integer>1</integer>
                    <key>Name</key>
                    <string>Phonetic Info Provided</string>
                    <key>LeaderIdentifiers</key>
                    <array>
                        <string>can</string>
                    </array>
                    <key>MemberIdentifiers</key>
                    <array>
                        <string>juan</string>
                        <string>mei</string>
                        <string>tom</string>
                        <string>bill</string>
                    </array>
                </dict>
            </array>
            <key>Users</key>
            <array>
                <dict>
                    <key>Identifier</key>
                    <string>tom</string>
                    <key>Name</key>
                    <string>tom clark</string>
                    <key>GivenName</key>
                    <string>tom</string>
                    <key>FamilyName</key>
                    <string>clark</string>
                    <key>PhoneticGivenName</key>
                    <string>tom</string>
                    <key>PhoneticFamilyName</key>
                    <string>clark</string>
                    <key>AppleID</key>
                    <string>tom</string>
                    <key>ImageURL</key>
                    <string>https://url.example.com.jpg</string>
                    <key>PasscodeType</key>
                    <string>four</string>
                </dict>
                <dict>
                    <key>Identifier</key>
                    <string>Juan</string>
                    <key>Name</key>
                    <string>Juan Chavez</string>
                    <key>GivenName</key>
                    <string>Juan</string>
                    <key>FamilyName</key>
                    <string>Chavez</string>
                    <key>PhoneticGivenName</key>
                    <string>Juan</string>
                    <key>PhoneticFamilyName</key>
                    <string>Chavez</string>
                    <key>AppleID</key>
                    <string>Juan</string>
                    <key>ImageURL</key>
                    <string>https://url.example.com.jpg2</string>
                    <key>PasscodeType</key>
                    <string>four</string>
                </dict>
                <dict>
                    <key>Identifier</key>
                    <string>mei</string>
                    <key>Name</key>
                    <string>mei chen</string>
                    <key>GivenName</key>
                    <string>mei</string>
                    <key>FamilyName</key>
                    <string>chen</string>
                    <key>PhoneticGivenName</key>
                    <string>Mei</string>
                    <key>PhoneticFamilyName</key>
                    <string>Chen</string>
                    <key>AppleID</key>
                    <string>mei</string>
                    <key>ImageURL</key>
                    <string>https://url.example.com.jpg.3</string>
                    <key>PasscodeType</key>
                    <string>six</string>
                </dict>
                <dict>
                    <key>Identifier</key>
                    <string>bill</string>
                    <key>Name</key>
                    <string>bill james</string>
                    <key>GivenName</key>
                    <string>bill</string>
                    <key>FamilyName</key>
                    <string>james</string>
                    <key>PhoneticGivenName</key>
                    <string>Bill</string>
                    <key>PhoneticFamilyName</key>
                    <string>James</string>
                    <key>AppleID</key>
                    <string>bill</string>
                    <key>ImageURL</key>
                    <string>https://url.example.com.jpg.4</string>
                    <key>PasscodeType</key>
                    <string>complex</string>
                </dict>
            </array>
            <key>PayloadDescription</key>
            <string>Configures the Shared iPad loginwindow.</string>
            <key>PayloadDisplayName</key>
            <string>Shared iPad</string>
            <key>PayloadIdentifier</key>
            <string>com.example.myedconfigpayload</string>
            <key>PayloadType</key>
            <string>com.apple.education</string>
            <key>PayloadUUID</key>
            <string>9AD88C7B-7478-44D0-BEDD-4B1709002916</string>
            <key>PayloadVersion</key>
            <integer>1</integer>
        </dict>
    </array>
    <key>PayloadDisplayName</key>
    <string>Education</string>
    <key>PayloadIdentifier</key>
    <string>com.example.myprofile</string>
    <key>PayloadType</key>
    <string>Configuration</string>
    <key>PayloadUUID</key>
    <string>2E4F6563-21DE-499B-B834-4BCF1F08B5AD3</string>
    <key>PayloadVersion</key>
    <integer>1</integer>
</dict>
</plist>