<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PayloadContent</key>
    <array>
        <dict>
            <key>timeServer</key>
            <string>ntp.example.com</string>
            <key>timeZone</key>
            <string>America/Denver</string>
            <key>PayloadIdentifier</key>
            <string>com.example.mytimeserverpayload</string>
            <key>PayloadType</key>
            <string>com.apple.MCX</string>
            <key>PayloadUUID</key>
            <string>7bc24f5a-5ad8-4ad0-b05e-8f5f4418ff05</string>
            <key>PayloadVersion</key>
            <integer>1</integer>
        </dict>
    </array>
    <key>PayloadDisplayName</key>
    <string>Time Server</string>
    <key>PayloadIdentifier</key>
    <string>com.example.myprofile</string>
    <key>PayloadType</key>
    <string>Configuration</string>
    <key>PayloadUUID</key>
    <string>a18b9fa3-dbdc-4e60-89e0-d785c7c6a1a0</string>
    <key>PayloadVersion</key>
    <integer>1</integer>
</dict>
</plist>