<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CommandUUID</key>
    <string>0001_NSExtensionMappings</string>
    <key>NSExtensionMappings</key>
    <array>
        <dict>
            <key>DisplayName</key>
            <string>Photos</string>
            <key>ExtensionPoint</key>
            <string>com.apple.storagemanagement</string>
            <key>Identifier</key>
            <string>com.apple.Photos.StorageManagementExtension</string>
        </dict>
        <dict>
            <key>DisplayName</key>
            <string>Messages</string>
            <key>ExtensionPoint</key>
            <string>com.apple.share-services</string>
            <key>Identifier</key>
            <string>com.apple.messages.ShareExtension</string>
        </dict>
        <dict>
            <key>DisplayName</key>
            <string>iCloud Drive</string>
            <key>ExtensionPoint</key>
            <string>com.apple.fileprovider-nonui</string>
            <key>Identifier</key>
            <string>com.apple.CloudDocs.MobileDocumentsFileProvider</string>
        </dict>
        <dict>
            <key>DisplayName</key>
            <string>Notes Spotlight Index Extension</string>
            <key>ExtensionPoint</key>
            <string>com.apple.spotlight.index</string>
            <key>Identifier</key>
            <string>com.apple.Notes.SpotlightIndexExtension</string>
        </dict>
    </array>
    <key>NotOnConsole</key>
    <false/>
    <key>Status</key>
    <string>Acknowledged</string>
    <key>UDID</key>
    <string>E84CD517-CB37-52F7-988C-DB5137B604B8</string>
    <key>UserID</key>
    <string>03EBB586-53E7-48CE-8E6E-C54A374F6FA6</string>
    <key>UserLongName</key>
    <string>admin</string>
    <key>UserShortName</key>
    <string>admin</string>
</dict>
</plist>