<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Command</key>
    <dict>
        <key>Queries</key>
        <array>
            <string>UDID</string>
            <string>Languages</string>
            <string>Locales</string>
            <string>DeviceID</string>
            <string>OrganizationInfo</string>
            <string>LastCloudBackupDate</string>
            <string>AwaitingConfiguration</string>
            <string>MDMOptions</string>
            <string>iTunesStoreAccountIsActive</string>
            <string>iTunesStoreAccountHash</string>
            <string>DeviceName</string>
            <string>OSVersion</string>
            <string>BuildVersion</string>
            <string>ModelName</string>
            <string>Model</string>
            <string>ProductName</string>
            <string>SerialNumber</string>
            <string>DeviceCapacity</string>
            <string>AvailableDeviceCapacity</string>
            <string>BatteryLevel</string>
            <string>CellularTechnology</string>
            <string>ICCID</string>
            <string>BluetoothMAC</string>
            <string>WiFiMAC</string>
            <string>EthernetMACs</string>
            <string>CurrentCarrierNetwork</string>
            <string>SubscriberCarrierNetwork</string>
            <string>CurrentMCC</string>
            <string>CurrentMNC</string>
            <string>SubscriberMCC</string>
            <string>SubscriberMNC</string>
            <string>SIMMCC</string>
            <string>SIMMNC</string>
            <string>SIMCarrierNetwork</string>
            <string>CarrierSettingsVersion</string>
            <string>PhoneNumber</string>
            <string>DataRoamingEnabled</string>
            <string>VoiceRoamingEnabled</string>
            <string>PersonalHotspotEnabled</string>
            <string>IsRoaming</string>
            <string>IMEI</string>
            <string>MEID</string>
            <string>ModemFirmwareVersion</string>
            <string>IsSupervised</string>
            <string>IsDeviceLocatorServiceEnabled</string>
            <string>IsActivationLockEnabled</string>
            <string>IsDoNotDisturbInEffect</string>
            <string>EASDeviceIdentifier</string>
            <string>IsCloudBackupEnabled</string>
            <string>OSUpdateSettings</string>
            <string>LocalHostName</string>
            <string>HostName</string>
            <string>CatalogURL</string>
            <string>IsDefaultCatalog</string>
            <string>PreviousScanDate</string>
            <string>PreviousScanResult</string>
            <string>PerformPeriodicCheck</string>
            <string>AutomaticCheckEnabled</string>
            <string>BackgroundDownloadEnabled</string>
            <string>AutomaticAppInstallationEnabled</string>
            <string>AutomaticOSInstallationEnabled</string>
            <string>AutomaticSecurityUpdatesEnabled</string>
            <string>OSUpdateSettings</string>
            <string>LocalHostName</string>
            <string>HostName</string>
            <string>IsMultiUser</string>
            <string>IsMDMLostModeEnabled</string>
            <string>MaximumResidentUsers</string>
            <string>PushToken</string>
            <string>DiagnosticSubmissionEnabled</string>
            <string>AppAnalyticsEnabled</string>
            <string>IsNetworkTethered</string>
            <string>ServiceSubscriptions</string>
        </array>
        <key>RequestType</key>
        <string>DeviceInformation</string>
    </dict>
    <key>CommandUUID</key>
    <string>0001_DeviceInformation</string>
</dict>
</plist>