<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PayloadContent</key>
    <array>
        <dict>
            <key>familyControlsEnabled</key>
            <true/>
            <key>pathBlackList</key>
            <array>
                <string>/Applications/Utilities</string>
            </array>
            <key>pathWhiteList</key>
            <array>
                <string>/Applications/Utilities</string>
            </array>
            <key>whiteList</key>
            <array>
                <dict>
                    <key>appID</key>
                    <data>+t4MAAAAADAAAAABAAAABgAAAAIAAAASY29tLmFwcGxlLlRleHRFZGl0AAAAAAAD</data>
                    <key>appStore</key>
                    <false/>
                    <key>bundleID</key>
                    <string>com.example.myotherapp</string>
                    <key>displayName</key>
                    <string>My App</string>
                    <key>subApps</key>
                    <array/>
                </dict>
            </array>
            <key>PayloadIdentifier</key>
            <string>com.example.myapplicationrestrictionspayload</string>
            <key>PayloadType</key>
            <string>com.apple.applicationaccess.new</string>
            <key>PayloadUUID</key>
            <string>e5af83ab-e936-495a-b6b7-05b113cf530e</string>
            <key>PayloadVersion</key>
            <integer>1</integer>
        </dict>
    </array>
    <key>PayloadDisplayName</key>
    <string>Parental Controls Application Restrictions</string>
    <key>PayloadIdentifier</key>
    <string>com.example.myprofile</string>
    <key>PayloadType</key>
    <string>Configuration</string>
    <key>PayloadUUID</key>
    <string>144fbebc-4db4-4642-83eb-78eed2992578</string>
    <key>PayloadVersion</key>
    <integer>1</integer>
</dict>
</plist>