<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CommandUUID</key>
    <string>0001_LOMSetupRequest</string>
    <key>PrimaryIPv6AddressList</key>
    <array>
       <string>fe80::94f6:d6ff:fef3:c05b</string>
       <string>fe80::94f6:d6ff:fef3:c1a4</string>
    </array>
    <key>Status</key>
    <string>Acknowledged</string>
    <key>UDID</key>
    <string>84341F79-92F5-5EF7-9A6A-3A7374613227</string>
</dict>
</plist>