<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PayloadContent</key>
    <array>
        <dict>
            <key>ControllerCACertificateUUIDs</key>
            <array>
                <string>D99D951C-60CC-454D-B293-AF74ADB38738</string>
            </array>
            <key>ControllerCertificateUUID</key>
            <string>6B9162FB-8B4A-4241-8C6E-2A2E80E62CA2</string>
            <key>DeviceCACertificateUUIDs</key>
            <array>
                <string>AF8A74BE-5B3E-47DC-83CD-279FC75DD63E</string>
                <string>4EC901FA-03F2-4374-A4BF-4B0BF8D249E2</string>
            </array>
            <key>PayloadDisplayName</key>
            <string>LOM Enrollment</string>
            <key>PayloadIdentifier</key>
            <string>com.apple.controller1.pkcs12.lom</string>
            <key>PayloadType</key>
            <string>com.apple.lom</string>
            <key>PayloadUUID</key>
            <string>79899C98-DA98-4A4D-8136-25E8CD33AE82</string>
            <key>PayloadVersion</key>
            <integer>1</integer>
        </dict>
        <dict>
            <key>PayloadContent</key>
            <data>
            MIIDjDCCAnSgAwIBAgIBATANBgkqhkiG9w0BAQsFADBmMRQwEgYD
            VQQDDAtMT01fVGVzdF9DQTERMA8GA1UECgwITE9NIFRlc3QxETAP
            BgNVBAsMCEFwcGxlTE9NMQswCQYDVQQGEwJVUzEbMBkGCSqGSIb3
            DQEJARYMYWJjQHRlc3QuY29tMB4XDTIwMDIxOTE0MTg1NloXDTIy
            MDUyNDE0MTg1NlowZjEUMBIGA1UEAwwLTE9NX1Rlc3RfQ0ExETAP
            BgNVBAoMCExPTSBUZXN0MREwDwYDVQQLDAhBcHBsZUxPTTELMAkG
            A1UEBhMCVVMxGzAZBgkqhkiG9w0BCQEWDGFiY0B0ZXN0LmNvbTCC
            ASIwDQYJKoZIhvcNAQEDDQADggEPADCCAQoCggEBAMOOHyldBKjc
            ZlEGpJQY0OqOmLbmv4KSJzFDRT/EU5y12fBHxdCaZMwfRAOXpE8m
            ygVQTZy3yd/r5cSrvWz6omLj5oLeBIlJ0VGnC2TGqvOWNQ45oeQh
            zcMkwUTRFl1q7VqpL1lfz2VjcLg8Gode/e0nb+h/8YCm1T7xwHd0
            KqDZkpG9JGTv18DxdD6kaAMhLlcobRHXBS9uTNcI1zbdFHfFi6RO
            aGIAMktdMF+M0zGOwDj34gJ9phUjF6bA4h90dqfMOWF8wyvRepF7
            P/OiPA6OaxzFG72u8GUe4V3PIE9byHDC3KlaFQZ2NfdT5s4As8Ql
            R+fPrWoPIGcuor6ktzcCAwEAAaNFMEMwDwYDVR0TAQH/BAUwAwEB
            /zAOBgNVHQ8BAf8EBAMCAqQwIAYDVR0lAQH/BBYwFAYIKwYBBQUH
            AwIGCCsGAQUFBwMBMA0GCSqGSIb3DQEBCwUAA4IBAQBS0RdVijXq
            lWhENTXO21/Q1echOi1NN17ib9bbMAlUYn1N6aFUNI0b4tN0yekR
            DLdhUSGvdgGrtfwf0PLDH3F8hqjnG+8UZgjc7KyBvvzxpQ2E9wBj
            kt2EvODKC58RFgHFF+vJiKNtMeXiHpb/KziUYeM6esM0PIZvysG8
            KZ5p6zD20R+IMBtoZZ85z/jr2SGD3FTFnDj2x/VBtGPzcabShnGo
            RUArgDnCwPmsiB/ZnQZ2DQY355DqdaZJBq15dRTlpw61LJb8W+ZG
            SsElPVrwA7MRSJSGqv2BFrrk0LFY2B7/YCM7NrxPjoFWCVSo0pYM
            7e1I6Zxa/FxXbeLaLN1R
            </data>
            <key>PayloadDisplayName</key>
            <string>Root CA Cert</string>
            <key>PayloadIdentifier</key>
            <string>com.apple.controller1.pkcs1.ca.root.lom</string>
            <key>PayloadType</key>
            <string>com.apple.security.pkcs1</string>
            <key>PayloadUUID</key>
            <string>D99D951C-60CC-454D-B293-AF74ADB38738</string>
            <key>PayloadVersion</key>
            <integer>1</integer>
        </dict>
        <dict>
            <key>PayloadContent</key>
            <data>
            MIIDrTCCApWgAwIBAgIQXSjTUKRckZNIzZs/jSenKDANBgkqhkiG
            9w0BAQsFADBdMRMwEQYKCZImiZPyLGQBGRYDY29tMRUwEwYKCZIm
            iZPyLGQBGRYFYXBwbGUxFDASBgoJkiaJk/IsZAEZFgRjZWFkMRkw
            FwYDVQQDExBjZWFkLUNBMDEtUm9vdENBMB4XDTE0MDIyNjIzMTEw
            M1oXDTI0MDIyNjIzMjEwMlowXTETMBEGCgmSJomT8ixkARkWA2Nv
            bTEVMBMGCgmSJomT8ixkARkWBWFwcGxlMRQwEgYKCZImiZPyLGQB
            GRYEY2VhZDEZMBcGA1UEAxMQY2VhZC1DQTAxLVJvb3RDQTCCASIw
            DQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAN7ulf8RZHWyHyC+
            m2n4QoLv+4EO/JrD5tODrAKdLEWEqi/8KoGN2SNha/DeGrYh0/AJ
            fheR/z5Qwyarj8uGQbL+fiecU4el/nXgQ+ydxHs3Vno1+bBnExj5
            sLi3HvYgCm2LBKVmmWcpLplCDOG8QvXAjnPOHJ0NxAXx1eCAukws
            QcnLLaAxz5uTa2PG09ED+5GkNie4d23ZZhnTsOBVJclX7DogGeW7
            CbsjkvYGxtYB6R2vAnRelFDc2kW78cBOG6t3mRYR4TJlXr/D8MXS
            KLgFIHfMvlUEP5CZqsDzdu9S70aIyhyD/zTJoJctah3yZzPAuY6u
            n5R7qyFWp2Adyf0CAwEAAaNpMGcwEwYJKwYBBAGCNxQCBAYeBABD
            AEEwDgYDVR0PAQH/BAQDAgGGMA8GA1UdEwEB/wQFMAMBAf8wHQYD
            VR0OBBYEFELX+/xTbLy0seL8BxkG3oKQ3ZGoMBAGCSsGAQQBgjcV
            AQQDAgEAMA0GCSqGSIb3DQEBCwUAA4IBAQB8RphLEJ2hjJ0tN9by
            sjgte6EGwc1OKMbICJkP3ejJVmJd2pFHnAGsgCp92L+OYOup54Gz
            ChrzrjA5857kk1KQ1OJfLmDZKS4KTg+SDquegYXSxg/BcdcchnS7
            wD7ZzIbfVSWe/BR8nyPzcETn9w53M5jipCZlKQ6ryQfg+7jrOSjZ
            jtDW3xfx7OpUYXEm79098xQ7Xf7jkWreWPibFmBP3qCkzIEY4nsR
            uEoRqOo2D1db/Jm52PrVOtGTyuIRpUAx9cVkQCVlOSLpuwVMx0dF
            vLGZdDwv5m95FRWVQt6WGrmbgew4GrmWA1gGsBbgr9z7TUaLcy0H
            KytyanwB8yw0
            </data>
            <key>PayloadDisplayName</key>
            <string>PKCS1 Root CA Cert</string>
            <key>PayloadIdentifier</key>
            <string>com.apple.device1.pkcs1.ca.root.lom</string>
            <key>PayloadType</key>
            <string>com.apple.security.pkcs1</string>
            <key>PayloadUUID</key>
            <string>AF8A74BE-5B3E-47DC-83CD-279FC75DD63E</string>
            <key>PayloadVersion</key>
            <integer>1</integer>
        </dict>
        <dict>
            <key>PayloadContent</key>
            <data>
            MIIGFDCCBPygAwIBAgIKWqUMLAAAAAABFDANBgkqhkiG9w0BAQsF
            ADBdMRMwEQYKCZImiZPyLGQBGRYDY29tMRUwEwYKCZImiZPyLGQB
            GRYFYXBwbGUxFDASBgoJkiaJk/IsZAEZFgRjZWFkMRkwFwYDVQQD
            ExBjZWFkLUNBMDEtUm9vdENBMB4XDTIwMDEyMjIwMTczMloXDTIy
            MDEyMjIwMjczMlowYTETMBEGCgmSJomT8ixkARkWA2NvbTEVMBMG
            CgmSJomT8ixkARkWBWFwcGxlMRQwEgYKCZImiZPyLGQBGRYEY2Vh
            ZDEdMBsGA1UEAxMUY2VhZC1DQTAyLUludGVybWVkQ0EwggEiMA0G
            CSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDXTuPXuPHvoPGN1aJl
            im0YCrKEfZ4Ao46AXBG1K6+RgErOCKbOnCz2CInq0LS9/wqLA9Ce
            vBMQNoQwS3YtQW+xRFav36peGU3ZD8TtbZOePWbD1TH3G/SATbzL
            ibYrx/NZWD8mWvpd+pBRBztl0eDwAIvQB25i26JI5FMkOq9WkWO/
            4nbkk7Du8TpGJ64J5K63IorHTiVvrZDQVYwyXpxmxyX8LG2b18Nw
            2eIZWovqgoVfeUFT+DqnDEQGdMRH7vBL3KiTO7lrkJREHNeL3OJ7
            0Wz70/MTMwosi8nsXdgSJ3fmVajIR88A3/Xi7gLMwvQti6lYan+m
            S28cdiOYHM3ZAgMBAAGjggLQMIICzDASBgkrBgEEAYI3FQEEBQID
            AgADMCMGCSsGAQQBgjcVAgQWBBS7wOiIufG+Qb34wBO7pTsZKPY9
            jDAdBgNVHQ4EFgQUJyYvq0IIF4pnIVVUB5bs6isDpacwGQYJKwYB
            BAGCNxQCBAweCgBTAHUAYgBDAEEwDgYDVR0PAQH/BAQDAgGGMA8G
            A1UdEwEB/wQFMAMBAf8wHwYDVR0jBBgwFoAUQtf7/FNsvLSx4vwH
            GQbegpDdkagwgdEGA1UdHwSByTCBxjCBw6CBwKCBvYaBumxkYXA6
            Ly8vQ049Y2VhZC1DQTAxLVJvb3RDQSxDTj1jYTAxLENOPUNEUCxD
            Tj1QdWJsaWMlMjBLZXklMjFGBXJ2aWNlcyxDTj1TZXJ2aWNlcyxD
            Tj1Db25maWd1cmF0aW9uLERDPWNlYWQsREM9YXBwbGUsREM9Y29t
            P2NlcnRpZmljYXRlUmV2b2NhdGlvbkxpc3Q/YmFzZT9vYmplY3RD
            bGFzcz1jUkxEaXN0cmlidXRpb25Qb2ludDCCAT8GCCsGAQUFBwEB
            BIIBMTCCAS0wgbUGCCsGAQUFBzAChoGobGRhcDovLy9DTj1jZWFk
            LUNBMDEtUm9vdENBLENOPUFJQSxDTj1QdWJsaWMlMjBLZXklMjBT
            ZXJ2aWNlcyxDTj1TZXJ2aWNlcyxDTj1Db25maWd1cmF0aW9uLERD
            PWNlYWQsREM9YXBwbGUsREM9Y29tP2NBQ2VydGlmaWNhdGU/YmFz
            ZT9vYmplY3RDbGFzcz1jZXJ0aWZpY2F0aW9uQXV0aG9yaXR5MEYG
            CCsGAQUFBzAChjpodHRwOi8vY2EwMi5jZWFkLmFwcGxlLmNvbS9D
            ZXJ0RW5yb2xsL2NlYWQtQ0EwMS1Sb290Q0EuY2VyMCsGCCsGAQUF
            BzABhh9odHRwOi8vY2EwMS5jZWFkLmFwcGxlLmNvbS9vY3NwMA0G
            CSqGSIb3DQEBCwUAA4IBAQBl8UmBhzfH85sTARqU0G2tJkzBFJQm
            fkOXdxdwGfY/6mXJ1Kcev3cxNzV0rhkTUEGJ6qVTQekn1hAywhev
            WuK/ybWAHC9gSOw0175QiFZWDReZiHb/wSwFTVmedpG1kcAFKrtK
            d3cv3o/LPmiBd4ZQn6xbttlJn05IkK6JtBNJ9UaejNGjKbwvnWcP
            +MjTZhLoBUmpzYjF2R5G+GEm/Ju4EwBsdnHQwYw+TGVIkLqh1OrV
            U4hpDuZr36xzqNMIe2zGqz7XvVCZ7poXueEyt2s1JMRCv+mS1DZu
            OPNHFPG6OFfZWha1hkuVODACc34xHweJQxBAheB55w2cgF+iEcCL
            </data>
            <key>PayloadDescription</key>
            <string>PKCS1Certificate</string>
            <key>PayloadDisplayName</key>
            <string>Intermediate CA Cert</string>
            <key>PayloadIdentifier</key>
            <string>com.apple.device1.pkcs1.ca.intermediate.lom</string>
            <key>PayloadOrganization</key>
            <string>Test</string>
            <key>PayloadType</key>
            <string>com.apple.security.pkcs1</string>
            <key>PayloadUUID</key>
            <string>4EC901FA-03F2-4374-A4BF-4B0BF8D249E2</string>
            <key>PayloadVersion</key>
            <integer>1</integer>
        </dict>
        <dict>
            <key>Password</key>
            <string>test</string>
            <key>PayloadCertificateFileName</key>
            <string>LOM_Test_Client.p12</string>
            <key>PayloadContent</key>
            <data>
            MIIKFwIBAzCCCd4GCSqGSIb3DQEHAaCCCc8EggnLMIIJxzCCBE8G
            CSqGSIb3DQEHBqCCBEAwggQ8AgGBMIIENQYJKoZIhvcNAQcBMBwG
            CiqGSIb3DQEMAQYwDgQIcWeJpvkU/nkCAggAgIIECMU5tEzDlyqk
            aEz4e8wXvBgCe5PouMwHyj/H4Kw4ypZ/Cfrw+VGziIk3BoOlwM8v
            ItWflMB+tx6Kcld6Ih/dNEzCPOSoTLOSocFF2tY6CzUb7WZn5Jcz
            wuawYJuwk0JaAMez3Zy+Tqeil96ezmy+LyRSmegS2TOwdUbcYWIn
            wcY3yA/JHADvt/5ctMCprKgMPz9yTJJhexdx54PgkxF2Vd7CIpQ1
            03J2TFMIbd4wzkt76f3gi/8utirdDuHcS6xxccA2LVlLOmjG8gk3
            M/AnUIa4ZuDTGE2sFo8nk1ehAnszo/sSJtm8mspALKNfHHflTv8v
            +ii7ZGmmaxZmi/qQUc2ad0Czw6qiM6+E8QDUarRwb5C3EqHglgJn
            2UmRddOTuZqXcTavzZB1SI/kOnLTA0uW/yqYdZvFZksYKhWCYwh2
            0TJJkbanxXZkIMPEp7xGCAupGVkc63T/dVRzBAwrpWrL1JzWmJmY
            +QhfXb/oN4D7+oWfjPMd8IND7sAEYgfd1X+M4BC0A5kHTXkdV1eG
            yIZC9p0c3cyyDZ+KQSGrJCoc3sBxc2Xo5LKa0kV67znlYVimwY3l
            oPqC2xd/3lwjtR33ka1QzQw7V4RGSqPtH717qz9lnto8rTyogfY9
            rlDBi4PiwX1EoL+Sq2zFvqMYD3q8rcS5oAVwU39e6raWEZJxe10x
            PPeDG/2BIitCe4VGk1DU0VjKK7LCIijVWcmVOVePIpn+OEDv3gtU
            FujHDFxuYH0bwMfXhwDv/6bRVjMkyTP/wMMEgjUBDe4391BeidZ4
            OsbCBqTY1aqvddJ6EQJ8B4hKRTyB1PwAPB4bTwRYuy4NaZ7AXoX2
            pH5OcC4OSNMbBK1NERBAYnQbJM2KrMggXdHAOm2SAT6PBQj71nb8
            AMm+NA6BRwDAK41yBoh3SBC4ETDwdQz6bJPFGeWN7x9wZIoecUt0
            W94bwfgKvipLF8RWWqcQviyi8f2dUkYKcNtDMQ1aNGg7C3nmlGr3
            nhZSPcX/joTa0hzf1j+mY3PMFG0Ur/hNrdSVcXLSfhEfzUZCUg1C
            Lgx905QNMcHfO0XNhMosqEoVTS7wHeX3h2i+vbntPqUCUDEhz6V/
            2MRZrs4xT8dbq1PpLatyUNpzzDXacA99COJwCTcsRLCq1bpP5nFM
            Y/VNzXz6MjzWGiDCTyth1cVVPeYhy1BNdt4EotGC6XNIiQ+B2Y+N
            tOouIdAvoudbrw+PtCR4TdlHHREy84+mrA9rpgfNyWWedzQplEBU
            SUKk6lGujliQB9viEsijpL5ZpihurZwXsf8T/IcY0/p00dsemwyB
            0K3NIBmYce5jbHIq5aQh606KAIvA8R3zqr7w4lCOTghsZrcfIOPz
            YsRXsVltsCfmiTCCBXAGCSqGSIb3DQEHAaCCBWEEggVdMIIFWTCC
            BVUGCyqGSIb3DQEMCgECoIIE7jCCBOowHAYKKoZIhvcNAQwBAzAO
            BAisa5w3m1byvwICCAAEggTIUC3fuYuNrN32PQiE7UuiVXAunkcV
            0WGESI3YYRjluMoWAqaVMPuUEqFPJBXkQN1V47FFxWHgfGEC/6DW
            AwGv2Khu7kjBqtmTCMaSxzvnSwMWP7PN1Ql5Ww7QC+XMtzG0gZgp
            cl9z4fg3OWu2CP82NPbzn/9zUW7QH5123Lqk+di9lE4xJ0Dn6CvV
            45OQUCjtP4BY9io1wfDl5+pi2T72oDpYeMPjau79VVZmBKRJeysO
            Tk32ML8v7oTifdf4hBUqKFFP59Vmo32FEIffKTsoklM3rDRDXwZU
            tICsdK5Tzl55lEpX0jtBzEYxcLhdiJ+FcV4iDxerpjiEDnIqBwpd
            Akea68gwe90oRe5epVoKzEqX8PSiWGhp+RJxowv28CaOQOvhO90I
            8+rXWkrz5WgIxzqTL5tc7eAcXs0RuD3jSUs0a+FUHJgp5W9Mi9J+
            YgV+yH00OM36iJHJl6QJAwpCAltGz6EZtG8ZO+QmEHcFVPRVFZaj
            m9wzLiU2GimKtJSYWAunEjADuChcOok3gYVunR7gfXfmZXDMkXn1
            dGyoUgP1KQ6bRWFnkhwogDPfKHq06FQhnGkRSejovP4RmR1TQfYv
            QMNjaWzgsBmuXw2n5u5yxYQ25ArhNsJNWuFg5j3yur1PFyDqH3Jr
            2uVBp5o4anoZ72obDjLpTBpXrQhAVfiMFiUTmMnM7lwSSiI6vxYq
            bloX1OVWCmPuf9pyHaz4tbrvJymwbIHKkLHg9kiLb/e1Uh0UXZh1
            E04LWs+sGe3CzKDyzebRWdZj+ay4pL66q0HlN75fCkec9HIsAe47
            Bsx9iNbNqdFg4eqBWmsbXBlHyPHBlU+oIS2MJAfp6Onxsn0/aoMf
            1G3ZHdYRb+BVN3JaVPzXoLAuHLNBj+gq7jJalvvZN59Wpiwajfdy
            Q0ilLKr994IDeoWxG2U7mdiWF4qnpONuv5BtCQyMB3N+6tk9P+vv
            CrlvnWAxqGy5Lh6shmQzuO1qaiNNKQPwji0XylyLx5zge3IeNZRy
            PTwJLR0/vKXM+jTuGEXCg1d/+smj9KYpPiScs5n78TaeRaECIMnT
            pI9lP2ntNysAmAmLdyd5cHdDXdOGgcfm3xfXvPcHBnCUn13Qey3p
            O1g5mnvefgTWH3D0v75rzZOXeL0gHlnvexeL/AJvg3rmqd9Q25MB
            3Epm4XSVIQKKAfzdzG4WNGMFQ3dXAqXF6u4faHairuif4q3RZO+Q
            KHorIpPUUe64l8G8v2Ba6HsEq8mcmG+icRyY5PzAntIBrcbJzrMi
            7yaHiRyGVCxZNlJntAoE214h+sJFdyYGrBkW11MIezb/A9n8lWAq
            kS+FFdt83S6ZdVaOvoH3UP2f0ueIHBPHg5pB6DQHs8zAqZE61T+i
            BqGFW2z1g2cHM3PVTvGtObYTSIB0F65tOrWNI3D3CutZR47oqCTD
            8SOh3xrmcMurCf0mhVLSqFaMcgnF5TNMkQwMbBx+uWszqn5W28RV
            ZAogYtZPRqTAas65j65cBwv+D8Lv/T+x6JmG8ed/9ofPrhmuodmV
            P00m5ltxRrex4OgwyAcw5K4/9TaQo39FjxYxA/qDp+u9XYp7zwj8
            XYKWFVIOKoIkdQqtBA1WH5GwAui4fVSavhiyNV29qdzFMVQwLQYJ
            KoZIhvcNAQkUMSAeHgBMAE8ATQBfAFQAZQBzAHQAXwBDAGwAaQBl
            AG4AdDAjBgkqhkiG9w0BCRUxFgQUaPGNi2CHNid4WbbrQcmbllEf
            NiMwMDAhMAkGBSsOAwIaBQAEFKRzkxujUoYI1qp7rOlfqNKmE91K
            BAjSWtXqqFVswwIBAQ==
            </data>
            <key>PayloadDescription</key>
            <string>Identity from LOM_Test_Client.p12</string>
            <key>PayloadDisplayName</key>
            <string>AppleLOM_Test_controller</string>
            <key>PayloadIdentifier</key>
            <string>test.cert.LOM_Test_Client.p12.1</string>
            <key>PayloadType</key>
            <string>com.apple.security.pkcs12</string>
            <key>PayloadUUID</key>
            <string>6B9162FB-8B4A-4241-8C6E-2A2E80E62CA2</string>
        </dict>
    </array>
    <key>PayloadDisplayName</key>
    <string>Lights Out Management Controller</string>
    <key>PayloadIdentifier</key>
    <string>com.example.myprofile</string>
    <key>PayloadType</key>
    <string>Configuration</string>
    <key>PayloadUUID</key>
    <string>60f25f97-01ec-4016-a4d0-da42ae91a81d</string>
    <key>PayloadVersion</key>
    <integer>1</integer>
</dict>
</plist>