<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PayloadContent</key>
    <array>
        <dict>
            <key>filterAllowList</key>
            <array>
                <string>http://www.example.com</string>
            </array>
            <key>filterDenyList</key>
            <array>
                <string>http://www2.example.com</string>
            </array>
            <key>siteAllowList</key>
            <array>
                <dict>
                    <key>address</key>
                    <string>http://www3.example.com</string>
                    <key>bookmarkPath</key>
                    <string>/</string>
                    <key>pageTitle</key>
                    <string>example3</string>
                </dict>
            </array>
            <key>restrictWeb</key>
            <true/>
            <key>useContentFilter</key>
            <true/>
            <key>allowListEnabled</key>
            <true/>
            <key>PayloadIdentifier</key>
            <string>com.example.mycontentfilterpayload</string>
            <key>PayloadType</key>
            <string>com.apple.familycontrols.contentfilter</string>
            <key>PayloadUUID</key>
            <string>342c6863-6e3c-4e00-893e-f76757ae41c7</string>
            <key>PayloadVersion</key>
            <integer>1</integer>
        </dict>
    </array>
    <key>PayloadDisplayName</key>
    <string>Parental Controls Content Filter</string>
    <key>PayloadIdentifier</key>
    <string>com.example.myprofile</string>
    <key>PayloadType</key>
    <string>Configuration</string>
    <key>PayloadUUID</key>
    <string>764e94bc-ab75-456f-ac47-3a1062e70ffb</string>
    <key>PayloadVersion</key>
    <integer>1</integer>
</dict>
</plist>