<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ApplicationConfigurations</key>
    <array>
        <dict>
            <key>Configuration</key>
            <dict>
                <key>text</key>
                <string>myappsettings</string>
            </dict>
            <key>Identifier</key>
            <string>com.acme.myenterpriseapp</string>
        </dict>
    </array>
    <key>CommandUUID</key>
    <string>0001_ManagedApplicationConfiguration</string>
    <key>Status</key>
    <string>Acknowledged</string>
    <key>UDID</key>
    <string>00008020-000915083C80012E</string>
</dict>
</plist>