<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ActiveNSExtensions</key>
    <array>
        <dict>
            <key>ContainerDisplayName</key>
            <string>Messages.app</string>
            <key>ContainerIdentifier</key>
            <string>com.apple.iChat</string>
            <key>DisplayName</key>
            <string>Messages</string>
            <key>ExtensionPoint</key>
            <string>com.apple.share-services</string>
            <key>Identifier</key>
            <string>com.apple.messages.ShareExtension</string>
            <key>Path</key>
            <string>/System/Applications/Messages.app/Contents/PlugIns/Messages Share Extension.appex</string>
            <key>UserElection</key>
            <string>Use</string>
            <key>Version</key>
            <string>1.0</string>
        </dict>
        <dict>
            <key>DisplayName</key>
            <string>Set Background Image</string>
            <key>ExtensionPoint</key>
            <string>com.apple.share-services</string>
            <key>Identifier</key>
            <string>com.apple.share.System.set-desktop-image</string>
            <key>Path</key>
            <string>/System/Library/PrivateFrameworks/ShareKit.framework/Versions/A/PlugIns/SystemSetDesktopImage.appex</string>
            <key>UserElection</key>
            <string>Use</string>
            <key>Version</key>
            <string>639</string>
        </dict>
        <dict>
            <key>DisplayName</key>
            <string>Add to Reading List</string>
            <key>ExtensionPoint</key>
            <string>com.apple.share-services</string>
            <key>Identifier</key>
            <string>com.apple.share.System.add-to-safari-reading-list</string>
            <key>Path</key>
            <string>/System/Library/PrivateFrameworks/ShareKit.framework/Versions/A/PlugIns/SystemAddToReadingList.appex</string>
            <key>UserElection</key>
            <string>Use</string>
            <key>Version</key>
            <string>639</string>
        </dict>
    </array>
    <key>CommandUUID</key>
    <string>0001_ActiveNSExtensions</string>
    <key>NotOnConsole</key>
    <false/>
    <key>Status</key>
    <string>Acknowledged</string>
    <key>UDID</key>
    <string>E84CD517-CB37-52F7-988C-DB5137B604B8</string>
    <key>UserID</key>
    <string>03EBB586-53E7-48CE-8E6E-C54A374F6FA6</string>
    <key>UserLongName</key>
    <string>admin</string>
    <key>UserShortName</key>
    <string>admin</string>
</dict>
</plist>