<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PayloadContent</key>
    <array>
        <dict>
            <key>AllowedExtensions</key>
            <array>
                <string>com.apple.share.AirDrop.send</string>
            </array>
            <key>DeniedExtensions</key>
            <array>
                <string>com.apple.ncplugin.stocks</string>
            </array>
            <key>DeniedExtensionPoints</key>
            <array>
                <string>com.apple.share-services</string>
            </array>
            <key>PayloadIdentifier</key>
            <string>com.example.mynsempayload</string>
            <key>PayloadType</key>
            <string>com.apple.nsextension</string>
            <key>PayloadUUID</key>
            <string>9726bc46-1e51-466b-99e3-81b23561cf81</string>
            <key>PayloadVersion</key>
            <integer>1</integer>
        </dict>
    </array>
    <key>PayloadDisplayName</key>
    <string>NS Extension Management</string>
    <key>PayloadIdentifier</key>
    <string>com.example.myprofile</string>
    <key>PayloadType</key>
    <string>Configuration</string>
    <key>PayloadUUID</key>
    <string>4cc87081-feee-46d1-b5d1-2a2fde9a8402</string>
    <key>PayloadVersion</key>
    <integer>1</integer>
</dict>
</plist>