<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>PayloadContent</key>
        <array>
            <dict>
                <key>EmailAddress</key>
                <string>juanchavez4@example.com</string>
                <key>EnableCalendars</key>
                <true/>
                <key>EnableCalendarsUserOverridable</key>
                <true/>
                <key>EnableContacts</key>
                <true/>
                <key>EnableContactsUserOverridable</key>
                <true/>
                <key>EnableMail</key>
                <true/>
                <key>EnableMailUserOverridable</key>
                <true/>
                <key>EnableNotes</key>
                <true/>
                <key>EnableNotesUserOverridable</key>
                <true/>
                <key>EnableReminders</key>
                <true/>
                <key>EnableRemindersUserOverridable</key>
                <true/>
                <key>Host</key>
                <string>host.example.com</string>
                <key>MailNumberOfPastDaysToSync</key>
                <integer>7</integer>
                <key>OAuth</key>
                <false/>
                <key>OverridePreviousPassword</key>
                <false/>
                <key>SMIMEEnabled</key>
                <false/>
                <key>SMIMEEncryptionEnabled</key>
                <false/>
                <key>SMIMESigningEnabled</key>
                <false/>
                <key>SSL</key>
                <true/>
                <key>UserName</key>
                <string>juanchavez4@example.com</string>
                <key>disableMailRecentsSyncing</key>
                <false/>
                <key>PayloadIdentifier</key>
                <string>com.example.myeaspayload</string>
                <key>PayloadType</key>
                <string>com.apple.eas.account</string>
                <key>PayloadUUID</key>
                <string>de789252-dcf2-42e7-91c8-0ab9f50aafc5</string>
                <key>PayloadVersion</key>
                <integer>1</integer>
            </dict>
        </array>
        <key>PayloadDisplayName</key>
        <string>Exchange Active Sync</string>
        <key>PayloadIdentifier</key>
        <string>com.example.myprofile</string>
        <key>PayloadType</key>
        <string>Configuration</string>
        <key>PayloadUUID</key>
        <string>b8fd6fd7-a55e-4eb1-96af-d9c4d8562e38'</string>
        <key>PayloadVersion</key>
        <integer>1</integer>
    </dict>
</plist>
