<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Altitude</key>
    <real>-1.0</real>
    <key>CommandUUID</key>
    <string>0246_DeviceLocation</string>
    <key>Course</key>
    <real>-1.0</real>
    <key>HorizontalAccuracy</key>
    <real>3.677859038862057</real>
    <key>Latitude</key>
    <real>37.33385013244351</real>
    <key>Longitude</key>
    <real>-122.01079213269968</real>
    <key>Speed</key>
    <real>-1.0</real>
    <key>Status</key>
    <string>Acknowledged</string>
    <key>Timestamp</key>
    <string>2019-09-04T22:35:52Z</string>
    <key>UDID</key>
    <string>00008020-000915083C80012E</string>
    <key>VerticalAccuracy</key>
    <real>-1.0</real>
</dict>
</plist>